.width {
  width: 100%;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
}

.dropZone {
  min-height: 100px;
}

.previewChip {
  margin: 4px;
}

.formHandle {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.equipmentDetails {
  padding: 0 20px;
  margin-top: 20px;
}

.data {
  width: 100%;
  button {
    margin-top: 10px;
  }
}